.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap > div {
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: center;
}
